<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>

  <form action="/register" method="POST">
    
    <p>
      Username: <br>
      <input type="text" name="userName" placeholder="Ex: kellog">
    </p>
    
    <p>
      Email: <br>
      <input type="text" name="email" placeholder="Ex: kellog@gmail.com">
    </p>
    
    <p>
      Password: <br>
      <input type="text" name="password" placeholder="Ex: password212">
    </p>
    
    <p>
      Role: <br>
      <select name="isSeller">
        <option value="seller">Seller</option>
        <option value="buyer">Buyer</option>
      </select>
    </p>
    
    <p>
      First Name: <br>
      <input type="text" name="firstName" placeholder="Ex: John">
    </p>
    
    <p>
      Last Name: <br>
      <input type="text" name="lastName" placeholder="Ex: Wick">
    </p>
    
    <p>
      Date of Birth: <br>
      <input type="date" name="dateOfBirth">
    </p>
    
    <p>
      Profile Picture: <br>
      <input type="text" name="imagerUrl" placeholder="Ex: http://arah.in/memes-1">
    </p>

    <p>
      <input type="submit" value="Create account">
    </p>
  </form>
</body>
</html>