<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Art</h1>
    <form action="/arts/add" method="post">
        <label>Art Name:</label><br>
            <input type="text" name="name"><br>
        <label>Author:</label><br>
            <input type="text" name="author"><br>
        <label>Price:</label><br>
            <input type="number" name="price"><br>
        <label>Description:</label><br>
            <textarea name="description" id="" cols="30" rows="10" placeholder="write your description.."></textarea><br><br>
        <label>Upload Your Image Art:</label><br>
        <input type="text" name="imageUrl"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>